.DS_Store
*.iso
*.img
*.ima
*.vhd
*.vhdx
*.86f
*.scp
*.mfm
work/
output/
.venv/
__pycache__/
.pytest_cache/
*.pyc
**/bin/
**/obj/
*.token
guest/windows98/retrobridge98/retrobridge.ini
guest/windows98/retrobridge98/*.exe
guest/windows98/retrobridge98/*.obj
guest/windows98/retrobridge98/*.o
guest/windows98/retrobridge98/*.map
guest/windows98/retrobridge98/*.err
